* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 57, 62);
  height: 100vh;
}
.app--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  padding: 0 10%;
  background-color: white;
  border-radius: 10px;
}
.game--name {
  margin-bottom: 1rem;
}
.description {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
}
.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}
.die {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 1px 3px 5px -1px rgb(55, 55, 55, 0.5);
  cursor: pointer;
}
.roll--button {
  margin-top: 30px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(2, 57, 62);
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.roll--button:active {
  transform: scale(98%);
  box-shadow: 0 2px 5px 1px rgb(0, 0, 0, 0.3);
}
